/* layout */
#contents {}
#section1 {height: 100vh; background: url(../img/bg.jpg) no-repeat center center; background-size: cover; 
    filter: grayscale(90%) hue-rotate(100deg);}
#section2 {height: 2000px;}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* sec1 */


/* box_wrap */
.box_wrap {
    position: absolute;
    left: 0; top: 0; z-index: 100;
    width: 100%; height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.box_wrap > div {
    width: 14.285%;
    height: 25vh;
    background: linear-gradient(45deg, rgba(107,18,255,1) 0%,rgba(57,0,151,1) 100%);
    opacity: 0.1;
}
.box_wrap > div:nth-child(13) {opacity: 0.8;}
.box_wrap > div:nth-child(23) {opacity: 0.8;}
